.container {
  display: grid;
  padding: 60px;
  color: white;
    grid-column: 2;
    grid-row: 2;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.grid {
  display: grid;


  gap: 30px;
}

.card {
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.15);
  transition: 0.4s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px rgba(127, 92, 255, 0.6);
}

.button {
  margin-top: 15px;
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #7f5cff, #00f5ff);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
